body {
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: 'Work Sans', sans-serif;
  font-size: 18px;
}

/*
  Typography
*/

h1 {
  font-family: 'Work Sans', sans-serif;
  font-size: 48px;
  font-weight: 300;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #0D141F;
  }

h2 {
  font-family: 'Work Sans', sans-serif;
  font-size: 48px;
  font-weight: 300;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #0D141F;
}

h3 {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  margin-top: 50px;
  color: white;
}

h4 {
  font-family: 'Work Sans', sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin-top: 50px;
  color: #0D141F;
}

p {
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 0.6px;
  color: #4F5051;
}

video {

}


/*
	navbar - Start
*/

.navbar-default {
  background-color: transparent;
  border-color: transparent;
  color: #4F5051;
}

.navbar-brand {
  display: none;
}

a.navbar-brand.privacy {
  display: block;
}

.navbar-brand img {
  width: 50px;
  position: relative;
  top: -15px;
}

.brand-name {
  top: 15px;
  position: absolute;
  left: 77px;
  font-family: 'Work Sans', sans-serif;
  font-size: 24px;
  font-weight: 300;
  color: #0D141F;
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 40px;
}

/*
	navbar - End
*/

li {
  list-style-type: none;
}

.social {
  display: inline;
  margin-right: 30px;
  margin-top: 30px;
  float: left;
}

.content-body {
  height: 80vh;
}

.upper-content {
  height: 40vh;
}

.upper-content-brand {
  display: -webkit-flex; /* Safari */
  -webkit-align-items: center; /* Safari 7.0+ */
  display: flex;
  align-items: center;
}

.upper-content-brand-name {
  margin-left: 20px;
  font-weight: 300;
}

.upper-content-brand img {
  width: 100px;
}

.upper-content .brand-promo {
  font-size: 18px;
  color: #0D141F;
  letter-spacing: 0.6px;
  margin-top: 60px;
}


.lower-content {
  color: white;
  height: 50vh;
  width: 100%;
  left:0;
  right: 0;
  top: 0;
  bottom: 0;
  background: linear-gradient(124deg, #64D642, #2CB673, #FFE900, #00FFBE, #64FFE8, #4CF2FF, #008FFF, #A56DFF, #FF0089);
  background-size: 1800% 1800%;

    -webkit-animation: rainbow 18s ease infinite;
    -z-animation: rainbow 18s ease infinite;
    -o-animation: rainbow 18s ease infinite;
      animation: rainbow 18s ease infinite;}

    @-webkit-keyframes rainbow {
        0%{background-position:0% 82%}
        50%{background-position:100% 19%}
        100%{background-position:0% 82%}
    }
    @-moz-keyframes rainbow {
        0%{background-position:0% 82%}
        50%{background-position:100% 19%}
        100%{background-position:0% 82%}
    }
    @-o-keyframes rainbow {
        0%{background-position:0% 82%}
        50%{background-position:100% 19%}
        100%{background-position:0% 82%}
    }
    @keyframes rainbow {
        0%{background-position:0% 82%}
        50%{background-position:100% 19%}
        100%{background-position:0% 82%}
    }

.form-signin-heading {
  color: #FFFFFF;
  line-height: 32px;
}

.form-control {
  border-radius: 12px;
  padding: 25px 12px;
  margin-top: 20px;
  height: 72px;
  border: 1px solid white;
  font-size: 18px;
  font-weight: 300;
}

.form-btn {
  background-image: linear-gradient(43deg, #2CB673 0%, #64D642 100%);
  border-color: #2CB673;
  border-radius: 8px;
  right: 28px;
  position: absolute;
  width: auto;
  height: 44px;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0.6px;
}

.phone-demo img {
  width: 125%;
}

.copy-write {
  float: right;
  position: relative;
  top: 100px;
  right: 40px;
  opacity: 0.25;
  color: #0D141F;
  line-height: 28px;
}

.jumbotron {
  background-image: linear-gradient(45deg, #2CB673 0%, #64D642 100%);
  text-align: center;
  color: #fff;
  height: 40vh;
  align-items: center;
  display: flex;
}


/* media */

@media only screen and (min-width: 320px) {
  .phone-demo {
    position: relative;
    top: 20px;
    left: 0px;
    width: 339px;
  }
  .lower-content {
    height: auto;
  }
  .form-signin-heading {
    font-size: 18px;
    text-align: center;
  }
  .form-btn {
    top: 66px;
    }
  .copy-write {
    position: inherit;
  }
  .upper-content {
    height: 30vh;
  }

}

@media screen and (min-width: 480px) {}

@media (max-width: 768px) {
  .navbar-brand {
    display: block;
  }
  .upper-content-brand>* {
    display: none;
  }
  .upper-content .brand-promo {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  video {
  width: 92vw;
  align-items: center;
  }

  body {
    overflow: scroll;
  }

}

@media screen and (min-width: 768px) {
  .phone-demo {
    position: absolute;
    top: 36px;
    left: 85px;
  }
  .upper-content {
    height: 40vh;
  }
  .lower-content {
    height: 50vh;
  }
  .form-signin-heading {
    font-size: 18px;
    text-align: left;
  }
  .form-btn {
    width: 100px;
    top: 115px;  }

}
